@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+Mono+One&family=Syne:wght@400..800&display=swap');

.content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(50ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}

.content>* {
    grid-column: content;
    padding-inline: 20px;
}

.popout {
    grid-column: popout;
}

.feature {
    grid-column: feature;
}

.full {
    grid-column: full;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

h1 {
    font-family: Syne, sans-serif;
    font-size: 200px;
    font-weight: bold;
}

h2 {
    font-family: Syne, sans-serif;
    font-size: 150px;
    font-weight: bold;
}

h3 {
    font-family: Syne, sans-serif;
    font-size: 30px;
    font-weight: regular;
}

.ul--no-dec {
    list-style: none;
    color: inherit;
    font-size: 12px;
}

.txt-align-l {
    text-align: left;
}

.txt-align-c {
    text-align: center;
}

.txt-align-r {
    text-align: right;
}

.primary-header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    border-radius: 0 0 1rem 1rem;
    padding: 20px;
}

.primary-header__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full-height {
    height: 100vh;
    max-height: 100vh;
}

main.content {
    position: relative;
}

.content .hero {
    display: grid;
    align-items: end;
}

.hero h1 {
    font-size: 300px;
    font-weight: 500;
    letter-spacing: 10px;
}

.footer.content {
    background-color: black;
    grid-template-rows: 4fr 0.5fr;
    color: white;
}

.footer>* {
    align-self: end;
}

.flow {
    padding-top: 20px;
    padding-bottom: 20px;
}

.work {
    grid-template-rows: 1fr 2fr;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    border: 2px solid black;
    padding: 0;
}

.carousel--card {
    background-color: rgb(228, 113, 84);
    flex: 1;
}


.carousel--item img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}